html, body {
  height: 100%;
}
body {
  margin: 0;
}
.fill {
  height: 100%;
}
.scroll {
  overflow-y: auto;
}

@keyframes green-sonar-effect {	 
  0% {	
    opacity: 0;	
  }	
  25% {	
    opacity: 0.2;	
    box-shadow: 0 0 0 5px #4caf50, 0 0 10px 10px #4caf50, 0 0 0 10px #4caf50;	
  }	
  50% {	
    box-shadow: 0 0 0 5px #4caf50, 0 0 10px 10px #4caf50, 0 0 0 10px #4caf50;	
    transform: scale(1.2);	
    opacity: 0;	
  }	
  100% {	
    opacity: 0;	
  }	
}	

@keyframes red-sonar-effect {	  overflow-y: auto;
  0% {	
    opacity: 0.1;	
  }	
  40% {	
    opacity: 0.3;	
    box-shadow: 0 0 0 5px #f44336, 0 0 10px 10px #f44336, 0 0 0 10px #f44336;	
  }	
  100% {	
    box-shadow: 0 0 0 5px #f44336, 0 0 10px 10px #f44336, 0 0 0 10px #f44336;	
    transform: scale(1.2);	
    opacity: 0;	
  }	
} 